@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/Login-Form-in-HTML-CSS/img/FaRWha0WIAEOFR8.jpg") no-repeat;
    background-position: center;
    background-size:cover
}

.wrapper {
    width: 420px;
    background: transparent; /*rgba(48, 23, 0, 0.548);*/
    border: 2px solid #fd902a;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px 40px;
    padding: 30px 40px;
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #ffc50698;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgb(255, 255, 255);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    
}
.wrapper remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #ffff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #ffff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 100%;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color: #fd902a;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/*---------------Página de redefinição de senha---------------------*/
.redefinicao {
    width: 420px;
    background: transparent; /*rgba(48, 23, 0, 0.548);*/
    border: 2px solid #fd902a;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px 40px;
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.redefinicao h1 {
    font-size: 30px;
    text-align: center;
}

.redefinicao .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.redefinicao remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.redefinicao .btn_enviar {
    width: 100%;
    height: 100%;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color: #fd902a;
    font-weight: 600;
}

.redefinicao .voltar {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.voltar p a {
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    
}

.voltar p a:hover {
    text-decoration: underline;
}

/*---------------Fim página de redefinição de senha---------------------*/

/*---------------Página de Cadastro---------------------*/
.cadastro {
    width: 100%;
    background: transparent; /*rgba(48, 23, 0, 0.548);*/
    border: 2px solid #fd902a;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px 40px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.cadastro h2 {
    font-size: 30px;
    text-align: center;
}

.cadastro .cadastro__titulo{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.cadastro .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.cadastro remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.cadastro .btn_cadastrar {
    width: 100%;
    height: 100%;
    background: #ffff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color: #fd902a;
    font-weight: 600;
}

.cadastro .voltar {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

